@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
    font-family: Merriweather_weight700;
    src: url(/fonts/mery700.ttf);
}
@font-face{
    font-family: Merriweather300;
    src: url(/fonts/Merriweather-Light.ttf);
}
@font-face{
    font-family: varta_weight400;
    src: url(/fonts/Varta-Regular.ttf);
}
@font-face{
    font-family: varta_weight600;   
    src: url(/fonts/Varta-SemiBold.ttf);
}


@font-face{
    font-family: karla;
    src: url(/fonts/karla/Karla-VariableFont_wght.ttf);
}
@font-face{
    font-family: mery400;
    src: url(/fonts/Merriweather-Regular.ttf );
}